<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand cc-font" [routerLink]="['/']" >CryptoCredit</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
<!--      <li class="nav-item active">-->
<!--        <a class="nav-link" href="#">Home</a>-->
<!--      </li>-->
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['borrow']">Borrow</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  [routerLink]="['invest']">Invest</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
