<div class="w-100 border p-3 mb-2" [class.payedBack]="payedBackRate == 100">
  <div class="container">
    <div class="row mb-2">
      <div class="col-4">
        <div class="text-right w-100 inv-label">Yield</div>
        <div class="text-right w-100 inv-value c-primary">{{(investment.interestRate / 100)| number: '.2-2'}}%</div>
      </div>
      <div class="col-4">
        <div class="text-right w-100 inv-label">Total Amount</div>
        <div class="text-right w-100 inv-value">
          <fa-icon [icon]="['fab', 'ethereum']" class="eth-icon"></fa-icon>
          {{(investment.totalAmountLended / 1e18)}} ETH
        </div>
      </div>
      <div class="col-4">
        <div class="text-right w-100 inv-label">Duration (months)</div>
        <div class="text-right w-100 inv-value">TODO</div>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-4">
        <div class="text-right w-100 inv-label">Start Date</div>
        <div class="text-right w-100 inv-value">
          {{investment.startDate == 0 ? '-' :(investment.startDate * 1000)| date:'dd.MM.yyyy'}}
        </div>
      </div>
      <div class="col-4">
        <div class="text-right w-100 inv-label">Total Amount w. Interest</div>
        <div class="text-right w-100 inv-value">
          <fa-icon [icon]="['fab', 'ethereum']" class="eth-icon"></fa-icon>
          {{(investment.totalAmountLendedWithInterest / 1e18)}} ETH
        </div>
      </div>
      <div class="col-4">
        <div class="text-right w-100 inv-label">Monthly payment</div>
        <div class="text-right w-100 inv-value">
          <fa-icon [icon]="['fab', 'ethereum']" class="eth-icon"></fa-icon>
          {{(investment.monthlyAmount / 1e18)}} ETH
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-12">
      <div class="text-right w-100 inv-label mb-1">Risk ({{risk | number: '.2-2'}}%)</div>
      <div class="progress-risk w-100">
        <div class="progress-risk-bar" [style]="'width: ' + risk + '%;'"></div>
      </div>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-12">
      <div class="text-right w-100 inv-label mb-1">Payed Back ({{payedBackRate | number: '.2-2'}}%)</div>
      <div class="progress-payback w-100">
        <div class="progress-payback-bar" [style]="'width: ' + payedBackRate + '%;'"></div>
      </div>
    </div>
  </div>

</div>

