/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #303030; color: lightgray}
.cc-font{
  font-family: 'Comfortaa', cursive !important;
  font-weight: 300 !important;
}

.suffix-fix{
  position: relative;
  top: -4px;
}

.w-100-icon {
  width: calc(100% - 220px);
}

.invest-popover{
  background-color: #303030;
  border-color: lightgray;
  width: 400px;
}

.invest-popover .arrow::after {
  border-left-color: lightgray;
}

.dp-popover{
  background-color: #303030;
  border-color: lightgray;
}

.c-font{
  color: lightgray !important;
}
.dp-popover .arrow::after {
  border-bottom-color: transparent !important;
}


.c-primary{
  color: #c2185b;
}

.pointer{
  cursor: pointer;
}

.eth-span{
  font-size: 13px;
  padding-right: 5px;
}

.eth-icon{
  font-size: 24px;
  position: relative;
  top: -2px;
  padding-right: 5px;
}

.inv-label{
  opacity: 0.7;
  min-height: 40px;
  position: relative;
}

.inv-label span{
  position: absolute;
  bottom: 0;
  right: 0;
}

.inv-value{
  font-size: 30px;
  margin-top: 8px;
}

.alert-custom{
  border: 1px solid darkred;
  border-radius: 0px;
  background-color: rgba(139, 0, 0, 0.35);
}

.alert-custom-warn{
  border: 1px solid #db7b04;
  border-radius: 0px;
  background-color: rgba(219, 123, 4, 0.35);
}
