/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #303030; color: lightgray}
.cc-font{
  font-family: 'Comfortaa', cursive !important;
  font-weight: 300 !important;
}
