<div class="form-wrapper">
  <div class="row">
    <div class="col-12">
      <h1>Request your credit</h1>
    </div>
    <div class="col-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Amount</mat-label>
        <input matInput placeholder="test">
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Duration</mat-label>
        <input matInput placeholder="test">
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Income</mat-label>
        <input matInput placeholder="test">
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Expenses</mat-label>
        <input matInput placeholder="test">
      </mat-form-field>
    </div>
  </div>

</div>



