<div class="container">
  <div class="row">
    <div class="col-12 text-center mt-5">
      <h1 class="cc-font">CryptoCredit</h1>
    </div>
    <div class="col-12 text-center mt-5">
      <h1 class="cc-font">Request your credit within 2 minutes!</h1>
    </div>
    <div class="col-12 col-md-6 text-center text-md-right mt-5">
      <button mat-flat-button color="primary" class="button-lg mb-4 cc-font" [routerLink]="['borrow']">Borrow</button>
    </div>
    <div class="col-12 col-md-6 text-center text-md-left mt-md-5">
      <button mat-flat-button color="primary" class="button-lg mb-4 cc-font"  [routerLink]="['invest']">Invest</button>
    </div>
  </div>
</div>
